* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* medium =====================================*/
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* large =====================================*/
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* X-Large ====================================*/
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .nav .switch a {
  display: block;
  padding: 20px 30px;
  font-size: 20px;
  transition: 0.5s;
}
.container .nav .switch a.active,
.container .nav .switch a:hover {
  background-color: red;
  color: white;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 50px auto;
}
.gallery img {
  margin-bottom: 10px;
  transition: 0.3s;
  margin-left: 5px;
  margin-right: 5px;
}
